{% extends "base.html" %}

{% load static %}

{% block content %}

<h2>Sobre mí</h2>

<div style="display:flex; gap:30px; align-items:center;">
    
    <img src="{% static 'img/th2.jpg' %}" width="250" style="border-radius:10px;">
    
<p>Hola, mi nombre es Serrana de la Peña, tengo 25 años y soy estudiante de Ingeniería en Computación. Además, he realizado otros curso sobre testing de Software, y actualmente trabajo como operadora en el Centro de Sistemas Inteligentes de Tránsito de Uruguay.
    En mi tiempo libre disfruto jugar al fútbol, videojuegos, leer cómics y compartir momentos con mi familia. Este es mi primer curso de programación, y estoy muy entusiasmada de poder comenzar a explorar este fascinante mundo.
</p>
</div>

{% endblock %}